body {
    width: 98.7%;
    background-color: rgb(233, 233, 233);
    font-family: arial;
}

nav {
    background-color: white;
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 6px;
    margin: 14px;
    margin-left: 24px;
}

nav :hover {
    color: rgb(75, 145, 250);
}

#current {
    color: rgb(75, 145, 250);
}

#banner {
    background-image: url(graphics/banner.png);
}

#banner2 {
    background-image: url(graphics/banner2.png);
}

#banner, #banner2 {
    text-align: end;
    margin-top: 10px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 20px;
}

#banner h1, #banner2 h1 {
    font-size: 48px;
    margin-right: 24px;
    color: rgb(75, 145, 250);
}

#banner div p {
    margin-top: -20px;
    margin-right: 20px;
}

#banner2 h1 {
    margin-right: 110px;
}

.divider {
    color: rgb(75, 145, 250);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.showcase {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.showcase div {
    padding: 30px;
    font-weight: bold;
    text-align: center;
}

.showcase div p {
    background: rgb(75, 145, 250);
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.inhalt, .inhalt-center {
    padding-left: 30px;
    padding-right: 30px;
}

.inhalt div, .inhalt-center div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.inhalt-center {
    text-align: center;
}

.inhalt-center div {
    color: white;
    background-color: rgb(75, 145, 250);
    width: 300px;
    border-radius: 20px;
    margin-left: 37%;
    margin-top: 40px;
}

h2 {
    padding-bottom: 20px;
}

#foto {
    border-radius: 100px;
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
}